---
layout: default
---

<!DOCTYPE html>
<html class="">
<head>
<meta charset="UTF-8">
<meta name="apple-mobile-web-capable" content="yes">
<meta name="viewport" content="with=device-width, initial-scale=1">
<link rel="import" href="/path/to/imports/stuff.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<link rel="stylesheet" href="CSS/Style-header.css">
<link rel="stylesheet" href="CSS/Style-footer.css">
<link rel="stylesheet" href="CSS/Style-remainingSalary.css">
<link rel="stylesheet" href="CSS/Style-media.css">
<link rel="stylesheet" href="CSS/Style-socialMedia.css">


<title>SCCC</title>
 
</head>
<body>
{% include socialMedia.html %}
 {% include header.html %}
 

  
 <p>;kbjvkbsivbieusBVIebiubweIUVBIVB
 JKBVIbvw
 BLJHVbvobIVB
 </p>
   {% include remainingSalary.html %}
 
 
{% include footer.html %}

</body>
<script>
	$('.icon').on('click', function(){
	$('nav ul').toggleClass('showing');
});
</script>

<script>function myFunction(x) {
    x.classList.toggle("change");
}
</script>
</html>