<header>

	<h1 class="h-h1"><center>Saudi Club in Cedar City</center></h1>
		
	
	<nav>
	<ul>
	<a href="#"><b><li>ABOUT</li></b></a>
	<a href="#"><b><li>EVENTS</li></b></a>
	<a href="#"><b><li>SHOP</li></b></a>
	<a href="/index-contactUs.html"<b><li>CONTACT US</li></b></a>
	</ul>
	<div class="icon" onclick="myFunction(this)">
	  <div class="bar1"></div>
	  <div class="bar2"></div>
	  <div class="bar3"></div>
	</div>
	</nav>
	
	
	<h2 class="h-h2"><center>Saudi Club at Southern Utah University, Cedar City</center></h2>
	
	<h3 class="h-h3"><center>Cultural // Social // Entertaining</center></h3>
	
  </header>
 
 
