<section class="s-section">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'> 
  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="social">
          <ul class="s-ul">
              <li class="s-li"><a class="s-a" href="https://mobile.twitter.com/SaudiClubatSUU">Twitter <i class="fa fa-twitter"></i></a></li>
              <li class="s-li"><a class="s-a" href="https://www.facebook.com/suussc">Facebook <i class="fa fa-facebook-square"></i></a></li>
               <li class="s-li"><a class="s-a" href="https://www.facebook.com/groups/260192827339138/">F-Groub <i class="fa fa-facebook"></i></a></li>
              <li class="s-li"><a class="s-a" href="https://www.instagram.com/saudic.suu/">Instagram <i class="fa fa-instagram"></i></a></li>
              
          </ul>
      </nav>
        